#define WIFI_SSID "your-ssid"
#define WIFI_PWD "your wifi password"

// This needs to be a web service that uses the twitter api to read and like
// tweets. It responds to read=TWEET_ID and like=TWEET_ID to read and like the
// given tweet.
#define TWITTER_APP_URL "example.com?"